
<div class="row">
  <div class="col-md-offset-2 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">
          You played rock!
        </h3>
      </div>
      <div class="panel-body">
        <img class="img-responsive" src="/assets/images/rock.png">
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <%  options = ["rock", "paper", "scissors"] %>
    <% computer_move = options.sample %>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">
          The computer played <%= @computer_move %>.
        </h3>
      </div>
      <div class="panel-body">



        <%  if @computer_move == "rock" %>
        <img class="img-responsive" src="/assets/images/rock.png" >

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="well text-center">
        <h2>
          <span class="label label-primary">
            You both played rock, you tie.
          </span>
        </h2>


        <% end %>

        <%  if @computer_move == "paper" %>
        <img class="img-responsive" src="/assets/images/paper.png" >

      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12">
      <div class="well text-center">
        <h2>
          <span class="label label-default">
            Paper beats rock, you lose.
          </span>
        </h2>
        <% end %>

        <% if @computer_move == "scissors" %>

        <img class="img-responsive" src="/assets/images/scissors.png" >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="well text-center">
        <h2>
          <span class="label label-success">
            Rock beats scissors, you win!
          </span>
        </h2>

        <% end %>


      </div>
    </div>
  </div>
